coverage
build
dist
lib
node_modules
built-packages

/packages/*/api/temp


/apps/performance-tests/*benchmark.json

/apps/full-stack-tests/run-forever.sh

npm-debug.log*
pnpm-debug.log*

scripts/**/*.sh
.github/plans/

.vitest-attachments/
