registry=https://registry.npmjs.org/
@bentley:registry=https://registry.npmjs.org/

resolution-mode=lowest-direct
auto-install-peers=false
package-manager-strict=false
link-workspace-packages=deep

hoist-pattern[]=!*
hoist-pattern[]=@types/react*
hoist-pattern[]=*babel*
hoist-pattern[]=ignore-styles
hoist-pattern[]=global-jsdom
hoist-pattern[]=typedoc-plugin-merge-modules
