registry=https://registry.npmjs.org/

resolution-mode=lowest-direct
auto-install-peers=false
package-manager-strict=false

hoist-pattern[]=!*
hoist-pattern[]=@types/react*
hoist-pattern[]=*babel*
hoist-pattern[]=ignore-styles
hoist-pattern[]=global-jsdom
# TODO: remove after https://github.com/iTwin/itwinjs-core/pull/6612 is released
hoist-pattern[]=@itwin/core-common
