.iui-input-with-icon .iui-select-button.presentation-navigation-property-select-input > input.iui-input {
  width: 100%;
  height: 100%;
  border: none;
  text-overflow: ellipsis;
  overflow: hidden;
  outline: none;
  padding: 0;
}
