name: Release packages (changeset)

on:
  push:
    branches:
      - master
      - stable
      - next

env:
  NPM_CONFIG_PROVENANCE: true
  HUSKY: 0

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js 22
        uses: actions/setup-node@v6
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org/
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Create release PR or publish to npm
        uses: changesets/action@v1
        with:
          publish: pnpm release
          title: Release packages [publish docs]
          commit: Release packages [publish docs]
          commitMode: github-api
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPMJS_PUBLISH_ITWIN }}
          GIT_AUTHOR_NAME: imodeljs-admin
          GIT_AUTHOR_EMAIL: imodeljs-admin@users.noreply.github.com
          GIT_COMMITTER_NAME: imodeljs-admin
          GIT_COMMITTER_EMAIL: imodeljs-admin@users.noreply.github.com
